.zara-header {
    width: 100%;
    padding: 8px 5px;
    border-bottom: 1px solid var(--header-boder-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}

.zara-logo {
    text-decoration: none;
    color: var(--header-logo-color);
    font-size: 18px;
    font-weight: bold;
    padding: 0.3rem;
}

.zara-spinner {
    min-width: 22px;
    min-height: 22px;
    margin: 0 1rem 0 0;
    pointer-events: none;
}